header{
    color: white;
    background-color: #0078d6;
    font-size: 50px;
    text-align: center;
    padding: 20px
}

main{
    margin: 60px
}

.menu{
    display: flex;
    gap: 20px;
}

button{
    background-color:#0078d6;
    color: white;
    padding: 20px;
    font-size: 40px;
    border-radius: 20px;
}

p{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

b{
    color:#002036;
    font-weight: 500;
}

.about-me-text, .slills-text, .contacts-text{
    display: none;
    padding: 20px;
    font-size: 40px
}

.slills-text{
    margin-left: 180px
}

.contacts-text{
    margin-left: 300px
}
