main{
    margin: 60px
}

.todolist{
    display: flex;
    flex-direction: column;
    gap: 15px
}

.list{
    display: flex;
    flex-direction: column;
    gap: 15px
}

button{
    background-color:#0078d6;
    color: white;
    padding: 15px;
    font-size: 30px;
    border-radius: 20px;
    max-width: fit-content;
}

ul{
    font-size: 40px;
    margin-left: 60px;
}

input{
    font-size: 40px;
    width: 500px;
    border: 2px black solid
}
